<h1>$title$</h1>

<script type="text/javascript" src="/library/jquery/dist/jquery.slim.min.js"></script>
<link rel="stylesheet" type="text/css" href="/library/datatables.net-dt/css/jquery.dataTables.min.css"/>
<script type="text/javascript" src="/library/datatables.net/js/jquery.dataTables.min.js"></script>

<div>
  Toggle column:
  <a class="toggle-vis column-hidden" data-column="0">Country</a> -
  <a class="toggle-vis column-visible" data-column="1">Producer</a> -
  <a class="toggle-vis column-visible" data-column="2">Name</a> -
  <a class="toggle-vis column-visible" data-column="3">Vintage</a> -
  <a class="toggle-vis column-hidden" data-column="4">Grapes</a> -
  <a class="toggle-vis column-visible" data-column="5">Rating</a>
</div>

<div class="table-container">
  <table id="wines-table" class="stripe compact hover order-column">
    <thead>
      <tr>
        <th>Country</th>
        <th>Producer</th>
        <th>Name</th>
        <th>Vintage</th>
        <th>Grapes</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      $for(wines)$
      <tr>
        <td>$country$</td>
        <td>$producer$</td>
        <td><a href="$url$">$name$</a></td>
        <td>$vintage$</td>
        <td>$grapes$</td>
        <td>
          $if(rating)$
          $rating$
          $else$
          -
          $endif$
        </td>
      </tr>
      $endfor$
    </tbody>
  </table>
</div>

<script>
  $$(document).ready(function () {
    var table = new DataTable("#wines-table", {
      paging: false,
      order: [[1, 'asc']],
      autoWidth: false,
      columnDefs: [
        { visible: false, targets: [0, 4] }
      ]
    });

    function toggle(obj) {
      const name = obj.attr('data-column');
      const column = table.column(name);
      const state = column.visible();
      column.visible(!state);
      if (state) {
        obj.removeClass('column-visible');
        obj.addClass('column-hidden');
      } else {
        obj.addClass('column-visible');
        obj.removeClass('column-hidden');
      }
    }

    $$('a.toggle-vis').on('click', function (e) {
      e.preventDefault();
      toggle($$(this));
    });
  });
</script>
