<h1>$title$</h1>

<link rel="stylesheet" href="/library/bootstrap-table/dist/themes/bootstrap-table/bootstrap-table.min.css">

<div class="table-container wines-table">
  <table id="wines-table"
         data-toggle="table"
         data-search="true"
         data-show-columns="true"
         data-pagination="false">
    <thead>
      <tr>
        <th data-sortable="true" data-field="country">Country</th>
        <th data-sortable="true" data-field="producer">Producer</th>
        <th data-sortable="true" data-field="name">Name</th>
        <th data-sortable="true" data-field="vintage">Vintage</th>
        <th data-sortable="true" data-field="grapes">Grapes</th>
        <th data-sortable="true" data-field="rating" data-sorter="ratingSorter">Rating</th>
      </tr>
    </thead>
    <tbody>
      $for(wines)$
      <tr>
        <td>$country$</td>
        <td>$producer$</td>
        <td><a href="$url$">$name$</a></td>
        <td>$vintage$</td>
        <td>$grapes$</td>
        <td>
          $if(rating)$
          $rating$
          $else$
          -
          $endif$
        </td>
      </tr>
      $endfor$
    </tbody>
  </table>
</div>

<script>
  function ratingSorter(a, b) {
    const aa = a == '-' ? 0 : parseFloat(a);
    const bb = b == '-' ? 0 : parseFloat(b);
    return aa - bb
  }
</script>

<script src="/library/jquery/dist/jquery.min.js"></script>
<script src="/library/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/library/bootstrap-table/dist/themes/bootstrap-table/bootstrap-table.min.js"></script>
