<h1>$title$</h1>

<script type="text/javascript" src="/library/jquery/dist/jquery.slim.min.js"></script>
<link rel="stylesheet" type="text/css" href="/library/datatables.net-dt/css/jquery.dataTables.min.css"/>
<script type="text/javascript" src="/library/datatables.net/js/jquery.dataTables.min.js"></script>

<div id="table-visibility-control">
  Toggle
  <input type="checkbox" class="hide_show"><span>country</span>
  <input type="checkbox" class="hide_show" checked><span>producer</span>
  <input type="checkbox" class="hide_show" checked><span>name</span>
  <input type="checkbox" class="hide_show" checked><span>vintage</span>
  <input type="checkbox" class="hide_show"><span>grapes</span>
  <input type="checkbox" class="hide_show" checked><span>rating</span>
  <input type="checkbox" id="hide_show_all"><span>all</span>
</div>

<div class="table-container">
  <table id="wines-table" class="stripe compact hover order-column">
    <thead>
      <tr>
        <th>Country</th>
        <th>Producer</th>
        <th>Name</th>
        <th>Vintage</th>
        <th>Grapes</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      $for(wines)$
      <tr>
        <td>$country$</td>
        <td>$producer$</td>
        <td><a href="$url$">$name$</a></td>
        <td>$vintage$</td>
        <td>$grapes$</td>
        <td>
          $if(rating)$
          $rating$
          $else$
          -
          $endif$
        </td>
      </tr>
      $endfor$
    </tbody>
  </table>
</div>

<script>
  $$(document).ready(function () {
    $$("#wines-table").on('draw.dt', function() {
      $$('.hide_show').each(function() {
        const visible = $$(this).is(":checked");
        const ti = $$(this).index(".hide_show");
        $$('#wines-table tr').each(function() {
	        if (visible) {
		        $$('td:eq(' + ti + ')',this).show(100);
		        $$('th:eq(' + ti + ')',this).show(100);
	        } else {
		        $$('td:eq(' + ti + ')',this).hide(100);
		        $$('th:eq(' + ti + ')',this).hide(100);
	        }
        });
      });
      const all_ch = $$(".hide_show:checked").length == $$(".hide_show").length;
      $$("#hide_show_all").prop("checked", all_ch);
    });

    const table = new DataTable("#wines-table", {
      paging: false,
      order: [[1, 'asc']],
      autoWidth: false,
    });

    $$("#hide_show_all").on("change", function(){
	    const visible = $$(this).is(":checked");
	    $$(".hide_show").prop("checked", visible);

	    if (visible) {
		    $$('#wines-table tr th').show(100);
		    $$('#wines-table tr td').show(100);
	    } else {
		    $$('#mine tr th').hide(100);
		    $$('#wines-table tr td').hide(100);
	    }
    });
    
    $$(".hide_show").on("change", function() {
	    const visible = $$(this).is(":checked");
	    
	    const all_ch = $$(".hide_show:checked").length == $$(".hide_show").length;

	    $$("#hide_show_all").prop("checked", all_ch);
	    
	    const ti = $$(this).index(".hide_show");
	    
      $$('#wines-table tr').each(function() {
	      if (visible) {
		      $$('td:eq(' + ti + ')',this).show(100);
		      $$('th:eq(' + ti + ')',this).show(100);
	      } else {
		      $$('td:eq(' + ti + ')',this).hide(100);
		      $$('th:eq(' + ti + ')',this).hide(100);
	      }
      });

    });
  });
</script>
